apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "kubepulse.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "kubepulse.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "kubepulse.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kubepulse.selectorLabels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      hostPID: true
      serviceAccountName: {{ include "kubepulse.fullname" . }}
      containers:
        - name: kubepulse
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          env:
            - name: KUBEPULSE_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: KUBEPULSE_METRICS_ADDR
              value: ":{{ .Values.metrics.port }}"
          ports:
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: metrics
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /readyz
              port: metrics
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: proc
              mountPath: /proc
              readOnly: true
            - name: sys-bpf
              mountPath: /sys/fs/bpf
            - name: sys-kernel-debug
              mountPath: /sys/kernel/debug
              readOnly: true
      volumes:
        - name: proc
          hostPath:
            path: /proc
        - name: sys-bpf
          hostPath:
            path: /sys/fs/bpf
        - name: sys-kernel-debug
          hostPath:
            path: /sys/kernel/debug
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
